<!--#region experience-->

  <section class="cotainer foto-container">
    <div class="container-section">
      <div class="container-section-title">
        <h2 class="section-title">Coffee Moments</h2>
        <p class="subtitle-section">
          Experience the warmth and community of CoffeeJoy.
        </p>
      </div>
        <div class="foto-gallery">
            <div class="foto-item">
                <picture>
                <source
                    media="(max-width: 1440px)"
                    srcset="../img/desctop/latte-desc@1x.jpg 1x, ../img/desctop/latte-desc@2x.jpg 2x"/>
                    <source
                    media="(min-width: 768px)"
                    srcset="../img/tablet/latte-tab@1x.jpg 1x, ../img/tablet/latte-tab@2x.jpg 2x"/>
                    <source
                    media="(max-width: 767px)"
                    srcset="../img/mobile/latte-mob@1x.jpg 1x, ../img/mobile/latte-mob@2x.jpg 2x"/>   
            <img
                src="../img/latte.jpg"
                alt="A close-up of a ceramic cup with a latte and delicate leaf-shaped foam art, placed on a rustic wooden table. Soft morning sunlight falls diagonally across the surface, casting warm shadows."
                class="foto-image"
                width="288"
            />
                </picture>
                <picture>
            <source
                    media="(max-width: 1440px)"
                    srcset="../img/desctop/breakfast-desc@1x.jpg 1x, ../img/desctop/breakfast-desc@2x.jpg 2x"/>
                    <source
                    media="(min-width: 768px)"
                    srcset="../img/tablet/breakfast-tab@1x.jpg 1x, ../img/tablet/breakfast-tab@2x.jpg 2x"/>
                    <source
                    media="(max-width: 767px)"
                    srcset="../img/mobile/breakfast-mob@1x.jpg 1x, ../img/mobile/breakfast-mob@2x.jpg 2x"/>   
            <img
                src="../img/breakfast.jpg"
                alt="A breakfast scene with a filter coffee in a glass server, a small ceramic mug, and a plate with a croissant and butter. Everything sits on a brown tablecloth beside a window."
                class="foto-image"
                width="288"
            />
              </picture>
               <picture>
                <source
                    media="(max-width: 1440px)"
                    srcset="../img/desctop/book-desc@1x.jpg 1x, ../img/desctop/book-desc@2x.jpg 2x"/>
                    <source
                    media="(min-width: 768px)"
                    srcset="../img/tablet/book-tab@1x.jpg 1x, ../img/tablet/book-tab@2x.jpg 2x"/>
                    <source
                    media="(max-width: 767px)"
                    srcset="../img/mobile/book-mob@1x.jpg 1x, ../img/mobile/book-mob@2x.jpg 2x"/>   
            <img
                src="../img/book.jpg"
                alt="A quiet café corner with a beige armchair and a small round wooden table. On the table — a cappuccino in a matte cup and an open book. Natural window light illuminates the scene. Neutral tones, cozy atmosphere."
                class="foto-image"
                width="288"
            />
                </picture>
                 <picture>
                <source
                    media="(max-width: 1440px)"
                    srcset="../img/desctop/barista-desc@1x.jpg 1x, ../img/desctop/barista-desc@2x.jpg 2x"/>
                    <source
                    media="(min-width: 768px)"
                    srcset="../img/tablet/barista-tab@1x.jpg 1x, ../img/tablet/barista-tab@2x.jpg 2x"/>
                    <source
                    media="(max-width: 767px)"
                    srcset="../img/mobile/barista-mob@1x.jpg 1x, ../img/mobile/barista-mob@2x.jpg 2x"/>   
            <img
                src="../img/barista.jpg"
                alt="Hands of a barista gently pouring a rich espresso shot into a ceramic cup. The café background is softly blurred, with visible coffee tools like a tamper and milk pitcher."
                class="foto-image"
                width="288"
            />
                </picture>
                 <picture>
                <source
                    media="(max-width: 1440px)"
                    srcset="../img/desctop/coffeeJoy-interior-desc@1x.jpg 1x, ../img/desctop/coffeeJoy-interior-desc@2x.jpg 2x"/>
                    <source
                    media="(min-width: 768px)"
                    srcset="../img/tablet/coffeeJoy-interior-tab@1x.jpg 1x, ../img/tablet/coffeeJoy-interior-tab@2x.jpg 2x"/>
                    <source
                    media="(max-width: 767px)"
                    srcset="../img/mobile/coffeeJoy-interior-mob@1x.jpg 1x, ../img/mobile/coffeeJoy-interior-mob@2x.jpg 2x"/>   
            <img
                src="../img/coffeeJoy-interior.jpg"
                alt="A wide view of the CoffeeJoy interior — wooden furniture, soft cushions, warm pendant lights, and green plants on shelves. A few people in the background enjoying coffee, blurred slightly to focus on the space."
                class="foto-image"
                width="288"
            />
                </picture>
                  <picture>
                <source
                    media="(max-width: 1440px)"
                    srcset="../img/desctop/two-coffee-cups-desc@1x.jpg 1x, ../img/desctop/two-coffee-cups-desc@2x.jpg 2x"/>
                    <source
                    media="(min-width: 768px)"
                    srcset="../img/tablet/two-coffee-cups-tab@1x.jpg 1x, ../img/tablet/two-coffee-cups-tab@2x.jpg 2x"/>
                    <source
                    media="(max-width: 767px)"
                    srcset="../img/mobile/two-coffee-cups-mob@1x.jpg 1x, ../img/mobile/two-coffee-cups-mob@2x.jpg 2x"/>   
            <img
                src="../img/two-coffee-cups.jpg"
                alt="Two coffee cups on a small round table outdoors, surrounded by potted plants and greenery. The table is wooden, with sunlight filtered through leaves. Minimal accessories — perhaps one hand reaching for the cup, the."
                class="foto-image"
                width="288"
            />
                </picture>
                 <picture>
                <source
                    media="(max-width: 1440px)"
                    srcset="../img/desctop/coffee-kraft-desc@1x.jpg 1x, ../img/desctop/coffee-kraft-desc@2x.jpg 2x"/>
                    <source
                    media="(min-width: 768px)"
                    srcset="../img/tablet/coffee-kraft-tab@1x.jpg 1x, ../img/tablet/coffee-kraft-tab@2x.jpg 2x"/>
                    <source
                    media="(max-width: 767px)"
                    srcset="../img/mobile/coffee-kraft-mob@1x.jpg 1x, ../img/mobile/coffee-kraft-mob@2x.jpg 2x"/>   
            <img
                src="../img/coffee-kraft.jpg"
                alt="Two coffee cups on a small round table outdoors, surrounded by potted plants and greenery. The table is wooden, with sunlight filtered through leaves. Minimal accessories — perhaps one hand reaching for the cup, the."
                class="foto-image"
                width="288"
            />
                </picture>
            </div>
           
    </div>
  </section>

<!--#endregion  experience-->