<<<<<<< HEAD
@media screen and (min-width: 375px) and (max-width: 767px) {
  a {
    text-decoration: none;
  }

  .header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
  }

  .iconLogo {
    width: 84px;
    height: 36px;
  }

  .iconBurger {
    width: 24px;
    height: 24px;
  }

  .header-menu-btn {
    background-color: transparent;
    border: none;
    margin-left: auto;
    padding: 0;
  }

  .navigation-links {
    display: none;
  }
=======
/* MOBILE first */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
>>>>>>> 711c377 (header)
}

/* Лого */
.header-logo-icon {
  display: block;
  width: 84px;
  height: 36px;
  fill: #0b0803;
}

/* Бургер */
.header-menu-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Меню скрыто на mobile */
.header-nav {
  display: none;
}

/* Ссылки */
.header-link {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
  color: #0b0803;
  transition: color 0.3s ease;
}

.header-link:hover,
.header-link:focus {
  color: var(--color-coffee-dark);
}

/* TABLET (≥768px) */
@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }

  .header-nav {
    display: block;
  }

  .header-container {
    padding: 0 64px;
  }

  .header-menu {
    display: flex;
    gap: 32px;
  }
}

/* DESKTOP (≥1440px) */
@media screen and (min-width: 1440px) {
  .header-container {
    padding: 0 64px; /* можно увеличить если нужно */
  }
}
