.mobile-menu-window,
.mobile-menu-container {
  display: none;
}

@media only screen and (max-width: 767px) {
  .mobile-menu-window.is-open,
  .mobile-menu-container.is-open {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    background: var(--color-coffee-lighter);

    box-sizing: border-box;
  }
  .mobile-menu-header {
    padding: 18px 0;
  }

  .mobile-logo-icon {
    display: block;
  }

  .mobile-close-btn {
    position: absolute;
    top: 12px;
    right: 16px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-close-icon {
    display: flex;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-close-icon:hover {
    fill: var(--color-neutral-darkest);
    border: none;
  }
  .mobile-close-btn:focus {
    border: none;
    fill: var(--color-neutral-darkest);
  }
  .mobile-close-btn:active {
    fill: var(--color-neutral-darkest);
  }
  .mobile-menu-nav {
    padding: 0 0 128px;
  }
  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
    gap: 32px;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .mob-menu-item:hover a,
  .mob-menu-item:focus a {
    color: var(--color-coffee-dark);
  }
  .mob-menu-item:active a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-neutral-darkest);
  }
}
